In [3]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python311\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\admin\appdata\roaming\python\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\roaming\python\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\admin\appdata\roaming\python\python311\site-packages (1.26.4)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\admin\appdata\roaming\python\python311\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\admin\appdata\roaming\python\python311\site-packages (from scipy) (1.26.4)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [4]:
import scipy.stats as stats

In [5]:
import math

In [8]:
CI = (1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29)
CI1 = pd.DataFrame(CI)
print(CI)

(1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.2, 1.33, 1.18, 1.22, 1.29)

In [11]:
type(CI1)

pandas.core.frame.DataFrame

In [12]:
len(CI1)

15

In [9]:
mu = CI1.mean()
print(mu)

0    1.238667
dtype: float64

In [15]:
CI1.mode()

       0
0   0.85
1   0.92
2   1.07
3   1.13
4   1.18
5   1.20
6   1.22
7   1.25
8   1.29
9   1.32
10  1.33
11  1.36
12  1.43
13  1.48
14  1.55

In [10]:
samp_stdev = CI1.std()
print(samp_stdev)

0    0.193164
dtype: float64

In [16]:
CI1.median()

0    1.25
dtype: float64

In [18]:
CI1.mean(), CI1.median(), CI1.mode()

(0    1.238667
 dtype: float64,
 0    1.25
 dtype: float64,
        0
 0   0.85
 1   0.92
 2   1.07
 3   1.13
 4   1.18
 5   1.20
 6   1.22
 7   1.25
 8   1.29
 9   1.32
 10  1.33
 11  1.36
 12  1.43
 13  1.48
 14  1.55)

In [20]:
CI1 = 1.238667+2.58*(0.193164/3.8729)
print(CI1)

1.3673465734462547

In [21]:
CI1 = 1.238667-2.58*(0.193164/3.8729)
print(CI1)

1.1099874265537453

In [23]:
n = 15
Z_crt = stats.norm.ppf(q= 0.979)
print("Z-critical value:")
print(Z_crt)
mgr_er = Z_crt*(samp_stdev/math.sqrt(n))
C_I = (mu+mgr_er, mu-mgr_er)
print("Confidence Interval:")
print(C_I)

Z-critical value:
2.0335201492530506
Confidence Interval:
(0    1.340088
dtype: float64, 0    1.137245
dtype: float64)

In [24]:
#Build 99% Confidence Interval Using Known Population Standard Deviation

In [25]:
CI2 = (1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29)
CI3 = pd.DataFrame(CI2)
print(CI3)

       0
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [27]:
CI3.mean(), CI3.median(), CI3.mode()

(0    1.238667
 dtype: float64,
 0    1.25
 dtype: float64,
        0
 0   0.85
 1   0.92
 2   1.07
 3   1.13
 4   1.18
 5   1.20
 6   1.22
 7   1.25
 8   1.29
 9   1.32
 10  1.33
 11  1.36
 12  1.43
 13  1.48
 14  1.55)

In [28]:
CI3.std()

0    0.193164
dtype: float64

In [31]:
kp = np.random.normal(1.2386, 0.2, 15)
kp1 = pd.DataFrame(kp, columns = ['kp'])
print(kp1)

          kp
0   0.986803
1   1.166903
2   1.316378
3   1.437195
4   1.347369
5   1.151812
6   1.493874
7   1.537246
8   1.405229
9   1.160488
10  1.145283
11  0.950305
12  1.186297
13  1.369882
14  1.147808

In [35]:
mean = kp1['kp'].mean()
std = 0.2
stderr = std/math.sqrt(len(kp1['kp']))
CI_99 = stats.norm.interval(0.99, mean, stderr)
print('99% confidence interval:', CI_99)

99% confidence interval: (1.1205096022987735, 1.3865401088405853)